Server/Inspector/Inspector.Data/obj
Server/Inspector/Inspector.Data/bin
Server/Inspector/Inspector.Tests/obj
Server/Inspector/Inspector.Tests/bin
Server/Inspector/Inspector.Services/obj
Server/Inspector/Inspector.Services/bin
Server/Inspector/Inspector/obj
Server/Inspector/Inspector/bin
