/Server/Insector/Insector/bin
/Server/Insector/Insector/obj
/Server/Insector/Insector.Data/bin
/Server/Insector/Insector.Data/obj
/Server/Insector/Insector.Services/bin
/Server/Insector/Insector.Services/obj
/Server/Insector/Insector.Tests/bin
/Server/Insector/Insector.Tests/obj
